html {zoom: 75%;}
body {
	margin: 0px;
	padding: 0px;
	color: #111;
	font-family: serif;
	font-size: 18px;
	line-height: 1.5em; 
	background-color: #e2d8bd;
	background-image: url(images/body_bg.jpg);
	background-repeat: repeat;
}

table {
  margin-top: -20px;
  text-align: justify;
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

th {
	background-color: #b3d1ff;
	color: #111;
	text-transform: uppercase;
	font-size: 14px;
}

td, th {
  border: 2px solid #888;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

.sim1{
	width:100%;
	margin-top: -20px;
	border: 2px solid #999;
	border-radius: 5px;
}

.sim2{
	width:80%;
	margin-top: -20px;
	border: 2px solid #999;
	border-radius: 5px;
}

#vdo {
	padding: 5px;
	width: 97%;
	box-align: center;
	margin-left: 1px;
	margin-bottom: 20px;
}

#vdo1 {
	padding: 5px;
	width:47%;
	float: left;
	box-align: center;
	margin-right: 1px;
	margin-bottom: 20px;
}
#vdo2 {
	padding: 5px;
	width:47%;
	float: right;
	box-align: center;
	margin-left: 1px;
	margin-bottom: 20px;
}

a, a:link, a:visited { color: blue; text-decoration: none; }
a:hover { text-decoration: underline; }

p { font-size: 16px; margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1 {font-size:4.6rem;}
h2 {font-size:2.2rem;}  
h3 {font-size:1.8rem;}  
h4 {font-size:1.3rem; color: #555;text-align: center;}  
h5 {font-size:1.1rem; color: #cc0000;}  
h6 {font-size:1.0rem;} 

ul {
  display: inline;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ul li {
    margin: 0;
	padding: 0;
}

ul a {
	display: inline;
	color: #800000;
}

ul.contact {
	display: block;
	list-style-type: none;
	margin-top: -20px;
	font-size: 18px;
	padding-left: 10px;
}

.aboutable {font-size: 18px;}

.publications {font-size: 16px;}

.paper {text-align: justify;}

#slider {
    position: relative;
	width: 100%;
}

#wrapper {
	width: 954px;
	height: 753px;
	margin: 10px auto 10px;
	background: url(images/content_bg.jpg) top left no-repeat;
}

#sidebar {
	float: right;	
	width: 296px;
	padding: 80px 0 0;
}

#header {
	width: 230px;
	padding: 0 0 0 30px;
	text-align: center;
	margin: -80px 0 -20px 0;
	font-family: Georgia;
}

#header h5 { 
	margin-left: -10px; 
	margin-bottom: 15px; 
	background: rgb(245, 245, 245);
	padding: 6px 0;
	color: blue;
	box-shadow: 0 0 10px 3px #333;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 2px;
	height:auto;
	max-width:100%;
	width:auto;
	box-shadow: 0 0 15px 3px #333;
}

.imgsize{
padding: 6px;
width: 180px;
}

.iconsize{
width:40px;
margin: 5px;
}

#imgbox{
display: block;
margin-top: -15px;
padding: 15px;
}

#hvr:hover {
box-shadow: 0 0 10px 5px #222;
}

#menu {
	width: 236px;
	padding-right: 60px;
	margin-left: -0.15px;
}

#pmedia {
	width: 280px;
	margin: 40px 16px;
	padding: 0 10px;
}

#smedia {
	width: 600px;
	margin: -10px 0px;
	padding: 0 10px;
}

#content {
	margin-top: -20px;
	text-align: justify;
	float: left;
	width: 550px;
	height: 600px;	
	padding: 50px 10px 60px 70px;
}

#emailid {
font-size: 16px;
margin: 40px 30px 0 0px; 
padding: 0;
color: #fff;
background: rgb(245, 245, 245);
box-shadow: 10px -5px 10px 0px #444;
}

.content_section {
	margin: 0 10px 20px 10px;
	padding-bottom: 0px;
}

.last_section {
	margin: 0;
	padding: 0;
	border: 0;
}

ul.navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0;
	padding: 0 0 10px 0;
}

ul.navigation a {
	display: block;
	height: 20px;
    margin: 0 0 0px 0;
	padding: 24px 0px 15px 50px;
	color: #800000;
	font-size: 22px;
	font-weight: 400;
    text-decoration: none;
	font-family: Georgia;
}

.menu_01 { background: url(images/unselect_tab.png) }
.menu_02 { background: url(images/unselect_tab.png) }
.menu_03 { background: url(images/unselect_tab.png) }
.menu_04 { background: url(images/unselect_tab.png) }
.menu_05 { background: url(images/unselect_tab.png) }

ul.navigation a:hover{
	color: #fff;
	font-size: 24px;
	background: url(images/hover_tab.png);
}

ul.navigation a.selected {
	color: #fff;
	font-size: 24px;
	margin-left: -15px;
	padding: 24px 0px 15px 65px;
	background: url(images/select_tab.png);
}

.scroll {
margin: -20px 0 20px 0; 
height: 630px;
width: 570px;
overflow: auto;
overflow-x: hidden;
position: relative;
clear: left;
border: 2px solid #ddd;
}
